[tools]
node = "lts"
rust = "latest"
zig = "latest"
{{- if .extras }}

# Extras
bun = "latest"
go = "latest"
python = "latest"
{{- end }}
{{- if .work }}

# Work
gcloud = "latest"
helm = "latest"
java = "temurin-25"
maven = "latest"
pnpm = "latest"
terraform = "latest"
terragrunt = "latest"
vault = "latest"
{{- end }}
